<% provide(:title, "ヘルプ") %>

<div class="main help">
    <div class="container">
        <div class="main-heading">ヘルプ</div>
        <div class="help-list-item">
            <div class="help-question">
                ソースコードを投稿する場合の注意点
                <span>+</span>
            </div>
            <div class="help-answer">
                <p>
                    ソースコード投稿時に、以下の３点を記述すれば、ソースコードに色が自動で付きます。
                    <ol>
                        <li style="list-style: disc; padding-bottom: 5px;">ソースコードは、「~~~」（チルダ3つ）または、<br>
                            「```」（バッククォート3つ）で囲んでください。</li>
                        <li style="list-style: disc; padding-bottom: 5px;">上記の記号とソースコードとの間には改行を入れてください。</li>
                        <li style="list-style: disc; padding-bottom: 5px;">ソースコードの一部を投稿する場合も、「&lt;!DOCTYPE html&gt;」<br>を記述してください。</li>
                    </ol>

                    <strong>記入例1：</strong><br>
                    <div style="border: 1px solid; padding-left: 10px;">
                        ~~~<br>
                        &lt;!DOCTYPE html&gt;<br>
                        &lt;html lang=&quot;ja&quot;&gt;<br>
                        （ここにソースコードを記述してください）<br>
                        &lt;/html&gt;<br>
                        ~~~<br>
                    </div>
                    <br>
                    <strong>記入例2：ソースコードの一部を投稿する場合</strong><br>
                    <div style="border: 1px solid; padding-left: 10px;">
                        ~~~<br>
                        &lt;!DOCTYPE html&gt;<br>
                        &lt;script&gt;<br>
                        function hello() {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;alert("Hello!");<br>
                        }<br>
                        &lt;/script&gt;<br>
                        ~~~<br>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>