<div class="main top-main">
    <div class="top-message">
        <h1>質問掲示板へようこそ</h1>

        <div>
            質問掲示板は、ソースコードも投稿できる質問投稿SNSです。<br>
            Web学習の疑問点やつぶやきを投稿できます。
        </div>
        <br>
        <div style="color: red;">
            【サービス利用に関する注意点】<br>
            このWebサービスはプログラミング学習用に開発したものです。<br>
            個人情報の登録および投稿は、絶対にしないでください。
        </div>
        <div class="signup">
            <%= link_to('さっそく投稿する', '/login') %>
        </div>

        <div class="main-additional-text">
            <ul>
                <li>質問掲示板は、Ruby on Rails 5.2.2で開発しました。</li>
                <li>
                    <a href="https://github.com/mana-app/qanda" class="github-link">
                        <i class="fab fa-github"></i>質問掲示板のソースコードをGitHubで見る</a>
                    </li>
                <li>※開発に際して<a href="https://prog-8.com/">Progate</a>を参考にさせていただきました。</li>
            </ul>
        </div>

    </div>
</div>
